<div class = "container">

    <div class = "jumbotron">
    <h1 id = "header">Welcome to Good Burger, Home of the Good Burger, may I take your order?</h1>
        <panel>
            <form class = "create-form">
                <div class = "form-group">
                    <label for = "newBurger"> Order your Burger here: </label>
                    <input type = "text" id = "newBurger" name = "burger">
                    <button type = "submit" class = "btn btn-success" id = "addburger">Add Burger</button>
                </div>
            </form>
        </panel>
    </div>

    <div class = "row">
        <div class = "col-sm-6">
            <div class = "panel panel-default">
                <div class = "panel-heading" id = "leftside">
                    <strong>Burgers that have not been devoured:</strong>
                </div>
                <div class = "panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                                <button type = "button" class "eatburger btn btn-warning" id = "eatbutton" data-id = "{{this.id}}" data-newDevoured = {{devour}}><span class = "fa fa-usd"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class = "col-sm-6">
            <div class = "panel panel-default">
                <div class = "panel-heading" id = "rightside">
                    <strong>Burgers that have been devoured:</strong>
                </div>
                <div class = "panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                                <button type = "button" class "trashburger btn btn-trash" id = "trashbutton" data-id = "{{this.id}}" data-changedDevoured = {{devour}}><span class = "fa fa-usd"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
